/* ---------------
   Fonst
----------------*/
@font-face {
    font-family: 'YekanBakh';
    src: url('../fonts/YekanBakh-Light.eot');
    src: url('../fonts/YekanBakh-Light.ttf'),
        url('../fonts/YekanBakh-Light.woff'),
        url('../fonts/YekanBakh-Light.woff2');
    font-weight: 300;
}
@font-face {
    font-family: 'YekanBakh';
    src: url('../fonts/YekanBakh-Heavy.eot');
    src: url('../fonts/YekanBakh-Heavy.ttf'),
        url('../fonts/YekanBakh-Heavy.woff'),
        url('../fonts/YekanBakh-Heavy.woff2');
    font-weight: 900;
}
@font-face {
    font-family: 'YekanBakh';
    src: url('../fonts/YekanBakh-Bold.eot');
    src: url('../fonts/YekanBakh-Bold.ttf'), url('../fonts/YekanBakh-Bold.woff'),
        url('../fonts/YekanBakh-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'YekanBakh';
    src: url('../fonts/YekanBakh-Regular.eot');
    src: url('../fonts/YekanBakh-Regular.ttf'),
        url('../fonts/YekanBakh-Regular.woff'),
        url('../fonts/YekanBakh-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'YekanBakh';
    src: url('../fonts/YekanBakh-Medium.eot');
    src: url('../fonts/YekanBakh-Medium.ttf'),
        url('../fonts/YekanBakh-Medium.woff'),
        url('../fonts/YekanBakh-Medium.woff2');
    font-weight: 500;
}

/* ---------------
   Global Css
----------------*/
:root {
    --main-color: #7857fe;
    --color-1: #e91e63;
    --color-2: #f5ae10;
    --color-3: #09d69c;
    --bg-dark: #2b2c2f;
    --main-to-dark-color: var(--main-color);
    --dark-to-main-color: var(--bg-dark);
    --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
    --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
    --black-900: #000000;
    --black-400: #555555;
    --black-100: #f7f7f7;
    --black-000: #ffffff;
    --black-alpha-100: rgba(0, 0, 0, 0.05);
}
body {
    font-family: 'YekanBakh';
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    background: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

ul {
    list-style: none;
}

/* ---------------
   Navbar
----------------*/
.navbar {
    background: var(--main-color);
    padding: 20px 0;
}

.navbar .container {
    padding: 15px 0;
}

.navbar .navbar-brand {
    font-size: 30px;
    color: #ffffff;
    font-weight: 700;
}

.navbar .nav-item {
    margin-right: 40px;
}

.navbar .nav-item .nav-link {
    color: #ffffff;
    padding: 5px 0;
    position: relative;
}

.navbar .nav-item .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: #ffffff;
    transition: all 0.5s ease;
    transform: scale(0);
}

.navbar .nav-item .active::before,
.navbar .nav-item .nav-link:hover::before {
    transform: scale(1);
}
