/* ---------------
   Fonst
----------------*/
@font-face {
    font-family: 'YekanBakh';
    src: url('../fonts/YekanBakh-Light.eot');
    src: url('../fonts/YekanBakh-Light.ttf'),
        url('../fonts/YekanBakh-Light.woff'),
        url('../fonts/YekanBakh-Light.woff2');
    font-weight: 300;
}
@font-face {
    font-family: 'YekanBakh';
    src: url('../fonts/YekanBakh-Heavy.eot');
    src: url('../fonts/YekanBakh-Heavy.ttf'),
        url('../fonts/YekanBakh-Heavy.woff'),
        url('../fonts/YekanBakh-Heavy.woff2');
    font-weight: 900;
}
@font-face {
    font-family: 'YekanBakh';
    src: url('../fonts/YekanBakh-Bold.eot');
    src: url('../fonts/YekanBakh-Bold.ttf'), url('../fonts/YekanBakh-Bold.woff'),
        url('../fonts/YekanBakh-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'YekanBakh';
    src: url('../fonts/YekanBakh-Regular.eot');
    src: url('../fonts/YekanBakh-Regular.ttf'),
        url('../fonts/YekanBakh-Regular.woff'),
        url('../fonts/YekanBakh-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'YekanBakh';
    src: url('../fonts/YekanBakh-Medium.eot');
    src: url('../fonts/YekanBakh-Medium.ttf'),
        url('../fonts/YekanBakh-Medium.woff'),
        url('../fonts/YekanBakh-Medium.woff2');
    font-weight: 500;
}

/* ---------------
   Global Css
----------------*/
:root {
    --main-color: #7857fe;
    --color-1: #e91e63;
    --color-2: #f5ae10;
    --color-3: #09d69c;
    --bg-dark: #2b2c2f;
    --main-to-dark-color: var(--main-color);
    --dark-to-main-color: var(--bg-dark);
    --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
    --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
    --black-900: #000000;
    --black-400: #555555;
    --black-100: #f7f7f7;
    --black-000: #ffffff;
    --black-alpha-100: rgba(0, 0, 0, 0.05);
}

body {
    font-family: 'YekanBakh';
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    background: #ffffff;
    line-height: 1.5;
    direction: rtl;
    text-align: right;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

ul {
    list-style: none;
}

.btn-1 {
    background: #ffffff;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    color: var(--main-color);
    transition: all 0.5s ease;
    box-shadow: var(--shadow-black-300);
    font-weight: 500;
}

.btn-1:focus {
    box-shadow: var(--shadow-black-300);
}

.btn-1:hover {
    color: #ffffff;
    background: var(--main-color);
}

@keyframes spin_01 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounceTop_01 {
    0%,
    100% {
        transform: translateY(-30px);
    }

    50% {
        transform: translateY(0);
    }
}

/* ---------------
   Navbar
----------------*/
.navbar {
    background: var(--main-color);
    padding: 20px 0;
}

.navbar .container {
    padding: 0 15px;
}

.navbar .navbar-brand {
    font-size: 30px;
    color: #ffffff;
    font-weight: 700;
}

.navbar .nav-item {
    margin-right: 40px;
}

.navbar .nav-item .nav-link {
    color: #ffffff;
    padding: 5px 0;
    position: relative;
}

.navbar .nav-item .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: #ffffff;
    transition: all 0.5s ease;
    transform: scale(0);
}

.navbar .nav-item .active::before,
.navbar .nav-item .nav-link:hover::before {
    transform: scale(1);
}

/* ---------------
   Home Section
----------------*/
.home {
    min-height: 100vh;
    padding: 150px 0;
    background: var(--main-to-dark-color);
}

.home-text h1 {
    font-size: 45px;
    font-weight: 700;
    color: #ffffff;
    margin: 0 0 20px;
}
.home-text p {
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 300;
}

.home .home-btn {
    margin: 40px 0 0 0;
}

.home-btn .video-play-btn {
    margin-right: 30px;
    width: 50px;
    height: 50px;
    padding: 0;
    animation: pluse_01 2s ease infinite;
}

.home-btn .video-play-btn i {
    vertical-align: middle;
    text-align: center;
}

.home-img img {
    max-width: 250px;
    box-shadow: var(--shadow-black-100);
    border-radius: 32px;
    animation: bounceTop_01 3s ease infinite;
}

.home-img {
    position: relative;
}

.home-img .circle {
    position: absolute;
    z-index: 1;
    height: 400px;
    width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-img .circle::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    left: 30px;
    top: 30px;
    transform-origin: 170px 170px;
    animation: spin_01 10s linear infinite;
}
